.small-title {
  font-size: 12px;
}

.green-title {
  color: darkgreen;
}

.underline-title {
  text-decoration: underline;
}

.btn {
  font-size: 22px;
  font-weight: bold;
  width: 100px;
  height: 50px;
  color: black;
  background-color: rgb(245, 111, 245);
  border: none;
  border-radius: 3px;
  margin: 20px;
}
